# Analysis of the Sinking of The Titanic

## What factors made people more likely to survive?  

Passenger Raw Data From Kaggle.com:   https://www.kaggle.com/c/titanic/download/train.csv

In [48]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as sp
import csv
%matplotlib inline

### Data Cleaning

In [54]:
titanic = pd.DataFrame.from_csv('/Users/ryanlambert/Downloads/titanic_data.csv')
titanic.head(2)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C

I will be looking at a correlation matrix so I'm going to want to turn some variables into numbers.

I may partition this data by location in the ship.  I can get this data from the 'cabin' column and using a ship map.

In [50]:
if False in (titanic['Sex'] != 'female') & (titanic['Sex'] != 'male'):
    print 'True'
else:
    print 'The sex of every member is known'

The sex of every member is known

Create feature: "Is Female"

In [55]:
titanic['Is Female[feature]'] = titanic['Sex'].apply(lambda x: 1 if x == 'female' else 0)

Create feature: "Is Child" (12, 16, 18 and under)

In [79]:
titanic['Under 12[feature]'] = titanic['Age'].apply(lambda x: 1 if x <= 12 else 0)

In [82]:
titanic.head(2)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Is Female[feature],Under 18[feature],Under 16[feature],Under 12[feature]
PassengerId,,,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,0,0,0,0
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,1,0,0,0

Let's also account for the types of passengers (crew?, passenger?, cook? )

Is there a way to infer where people "probably were" ?

## What was the largest corrollary with survival?

#### Pearson's R for Survival: all passengers

In [83]:
titanic.corr(method='pearson').sort_values('Survived')['Survived']

Pclass               -0.338481
Age                  -0.077221
SibSp                -0.035322
Parch                 0.081629
Under 18[feature]     0.105873
Under 12[feature]     0.116691
Under 16[feature]     0.121485
Fare                  0.257307
Is Female[feature]    0.543351
Survived              1.000000
Name: Survived, dtype: float64