# Analysis of the Sinking of The Titanic

## What factors made people more likely to survive?  

Passenger Raw Data From Kaggle.com:   https://www.kaggle.com/c/titanic/download/train.csv

In [120]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as sp
import csv
%matplotlib inline

### Data Cleaning

In [593]:
titanic = pd.DataFrame.from_csv('/Users/ryanlambert/Downloads/titanic_data.csv')

In [594]:
titanic[(titanic['Sex'] == 'female')|(titanic['Age'] < CHILD_AGE)]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,NaN,S
44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1,0,2926,26.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
824,1,3,"Moor, Mrs. (Beila)",female,27.00,0,1,392096,12.4750,E121,S
825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S
828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C
830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.00,0,0,113572,80.0000,B28,NaN
831,1,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.00,1,0,2659,14.4542,NaN,C
832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
836,1,1,"Compton, Miss. Sara Rebecca",female,39.00,1,1,PC 17756,83.1583,E49,C
843,1,1,"Serepeca, Miss. Augusta",female,30.00,0,0,113798,31.0000,NaN,C
850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S
853,0,3,"Boulos, Miss. Nourelain",female,9.00,1,1,2678,15.2458,NaN,C
854,1,1,"Lines, Miss. Mary Conover",female,16.00,0,1,PC 17592,39.4000,D28,S
855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.00,1,0,244252,26.0000,NaN,S
856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.00,0,1,392091,9.3500,NaN,S
857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.00,1,1,36928,164.8667,NaN,S
859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.00,0,3,2666,19.2583,NaN,C
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.00,0,0,17466,25.9292,D17,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.00,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27.00,1,0,SC/PARIS 2149,13.8583,NaN,C
870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.00,1,1,11751,52.5542,D35,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.00,1,0,P/PP 3381,24.0000,NaN,C
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.00,0,0,2667,7.2250,NaN,C
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.00,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.00,0,1,230433,26.0000,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.00,0,0,7552,10.5167,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.00,0,5,382652,29.1250,NaN,Q
888,1,1,"Graham, Miss. Margaret Edith",female,19.00,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [596]:
titanic['WChorM'] = titanic

SyntaxError: invalid syntax (<ipython-input-596-49e65ccc0366>, line 1)

In [607]:
def wch_or_man(row):
    woman_or_child = str()
    if row 
        return 'WCh'
    else:
        return 'Man'

#### Check that some of the data aren't missing

In [301]:
no_class_count = 0
for i in titanic['Pclass']:
    if i not in (1,2,3):
        no_class_count += 1
    
if no_class_count == 0:
    print "Not missing any classes"

Not missing any classes

Cabin location known or not.

In [189]:
# titanic[titanic['Cabin'].fillna('NaN') != 'NaN']
cabin_known = titanic['Cabin'].fillna('NaN') != 'NaN'

#### Is Cabin Location a useable feature?

Only 204 passengers have a known cabin.  

How did survival correlate with knowing a cabin or not?

In [226]:
sp.stats.pearsonr(cabin_known, titanic['Survived'])

(0.31691152311229603, 3.0908910396536999e-22)

##### Cabin Location is not a useable feature from this data.

Cabin location would be useful.  Being in the front of the ship, one would have much more of their survivability depend on the chance of where the iceburg hit.  Whereas passengers in the rear of the ship would be affected by other variables: rate of spread of information, velocity to the top deck, etc.

Just having a recorded cabin location correlated, r .3169, p < .001 with survival.  (as can be seen above)

This suggests that cabin location wasn't independently recorded for passengers(i.e. before the accident).  

For this reason I will **exclude** cabin location from my analysis.

In [488]:
CHILD_AGE = 14
titanic_woman_or_child = \
titanic[(titanic['Sex'] == 'female') | (titanic['Age'] <= CHILD_AGE)]
titanic_adult_male = \
titanic[(titanic['Sex'] == 'female') & (titanic['Age'] > CHILD_AGE)]

## What correlated most with survival?

#### Pearson's R for Survival: all passengers

In [521]:
titanic.corr(method='pearson')\
.sort_values('Survived')['Survived']\
.apply(lambda x: round(x, 2))

Pclass     -0.34
Age        -0.08
SibSp      -0.04
Parch       0.08
Fare        0.26
Survived    1.00
Name: Survived, dtype: float64

#### Pearson's R for Survival: Woman or Child

In [522]:
titanic_woman_or_child.corr(method='pearson')\
.sort_values('Survived')['Survived']\
.apply(lambda x: round(x, 2))

Pclass     -0.49
SibSp      -0.38
Parch      -0.23
Age         0.16
Fare        0.21
Survived    1.00
Name: Survived, dtype: float64

#### Pearson's R for Survival: Adult Male

In [523]:
titanic_adult_male.corr(method='pearson')\
.sort_values('Survived')['Survived']\
.apply(lambda x: round(x, 2))

Pclass     -0.53
Parch      -0.17
SibSp      -0.06
Age         0.07
Fare        0.26
Survived    1.00
Name: Survived, dtype: float64

make sure we're not missing any classes

In [611]:
titanic.groupby(['Sex', 'Pclass']).count()

               Survived  Name  Age  SibSp  Parch  Ticket  Fare  Cabin  \
Sex    Pclass
female 1             94    94   85     94     94      94    94     81
       2             76    76   74     76     76      76    76     10
       3            144   144  102    144    144     144   144      6
male   1            122   122  101    122    122     122   122     95
       2            108   108   99    108    108     108   108      6
       3            347   347  253    347    347     347   347      6

               Embarked
Sex    Pclass
female 1             92
       2             76
       3            144
male   1            122
       2            108
       3            347

## Tooling around with matplotlib